<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>zookeeper管理系统</title>
    <style>
    	body{
    		margin: 0px;
    	}
    </style>
    <script src="/js/jquery-1.11.1.js"></script>
    <script type="text/javascript">
        $(function () {
            //初始化页面布局内容
//             var $mainBody = $('body');
//             $mainBody.layout();
//             $mainBody.height($mainBody.get(0).height - $mainBody.layout('panel', 'north').outerHeight() - $mainBody.layout('panel', 'south').outerHeight());
//             $mainBody.layout('resize');
        });

    </script>
</head>
<body>
    <div data-options="region:'north',border:'false',height:'45'" style="background-color: #EAEAEA; overflow: hidden;">
        <iframe id="ceshiTop" src="../top.html" height="45" width="100%" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"></iframe>
    </div>
    <div data-options="region:'center',border:'false',height:'1028'" style="padding: 0; overflow: hidden;">
        <iframe id="center" src="../center.html" height="1028" width="100%" frameborder="no" border="0" marginwidth="0" marginheight="0" allowtransparency="yes"></iframe>
    </div>
    <div data-options="region:'south',border:'false',height:'30'" style="background-color: #eaeaea; text-align: center; vertical-align: middle; line-height: 25px;">
        Copyright
    </div>
</body>
</html>
